.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
    border-right: 2px solid rgba(143, 142, 142, 0.61);
}


/*  SIDEBAR- HEADER */

.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgrey;
}

.sidebar-headerAvatar {
    margin-right: 50px;
}

.sidebar-headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5px;
    min-width: 10vw;
}

.sidebar_headerRight>.MuiSvgIcon-root {
    margin-right: 1vw;
    font-size: 24px !important;
    padding: 4px;
}


/*  SIDEBAR- SEARCH */

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    height: 35px;
    border-radius: 20px;
}

.sidebar_searchContainer>.MuiSvgIcon-root {
    color: gray;
    padding: 7px;
}

.sidebar_searchContainer>input {
    border: none;
    margin-left: 10px;
}


/* SIDEBAR- CHATS */

.sidebar-chats {
    background-color: rgb(255, 255, 255);
    flex: 1;
    overflow-y: auto;
}

.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    font-size: 13px;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat-info {
    margin-left: 15px;
}

.sidebarChat-info>h2 {
    font-size: 16px;
    margin-bottom: 8px;
}